:root {
    --primary-color: #583DA4;
    --secondary-color: #DEC9F8;
    --tertiary-color: rgba(211,211,211,0.3);
}

* {
    margin: 0 0;
    outline: none;
    font-family: sans-serif;
}

p, span, a {
    text-align: center;
    align-self: center;
    text-decoration: none;
}

.btn {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 4% auto;
}

.hide {
    display: none;
}

.background {
    background-color: var(--tertiary-color);
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    height: 75px;
}

header div {
    justify-content: space-between;
    align-self: center;
}

h3.high-score {
    align-self: center;
    color: var(--primary-color);
    font-weight: bolder;
    text-decoration: none;
    font-size: 18px;
}

p.timer {
    align-self: center;
}


main {
    margin: 5% 20%;
    display: flex;
    flex-direction: column;

}

h1 {
    margin: 2% auto;
    text-align: center;
}

h2 {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

h2 {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}


/* main */

.questions {
    display: flex;
    flex-direction: column;
}

.question p {
    text-align: center;
    margin: 0 auto;
}

.answer-choices {
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hs {
    width: 80%;
    height: 400px;
    background-color: var(--tertiary-color);
}

p.high-score {
    background-color: var(--secondary-color);
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* answer validation div */
.answer-response {
    margin: 2% 20%;
}


label {
    text-align: center;
}